@keyframes dragFile {
  0% {
    left: 65%;
    opacity: 0;
  }
  25% {
    left: 60%;
    opacity: 1;
  }

  50% {
    left: 40%;
    opacity: 1;
  }
  100% {
    left: 35%;
    opacity: 0;
  }
}

@keyframes slideLeftRight {
  from {transform: translateX(350px);}
  to {transform: translateX(0);}
}

.slide-enter-active {
  animation: slideLeftRight .2s;
}
.slide-leave-active {
  animation: slideLeftRight .2s reverse;
}