$--font-path: '~element-ui/lib/theme-chalk/fonts';
$fa-font-path: "~font-awesome/fonts";

$primary: #447abf;
$primarydarker: #3D6EAC;

//$red: #FE654A;
//$green: #60D394;
$blue: #2AB7CA;
//$yellow: #FF9F1C;

$white: #FFFFFF;
$grey: #808080;
$lightgrey: #F0F3F4;
$darkgrey: #545c64;

$darker: rgba(100,100,100,0.1);
$lighter: rgba(255,255,255,0.1);